:root {
    --grey: #F5F5F5;
    --darkpurple: #42213D;
    --byzanium: #683257;
    --black: #000;
}

/* GENERAL STYLING */
* {
    background-color: var(--grey);
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* TAG STYLING*/
h1 {
    color: var(--darkpurple);
    font-family: 'VT323', monospace;
    font-size: 60px;
}

button {
    cursor: pointer;
}

/* TITLE DIV SECTION */
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* SELECTIONS DIV SECTION */
.left, .right {
    align-items: center;
    display: flex;
    gap: 25px;
}

/* selection button styling */
.selectionBtn {
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
}

.selectionBtn:hover {
    transform: scale(1.1);
}


/* slider */
.sliderContainer {
    width: 50%;
}

.slider {
    appearance: none;
    background: var(--grey); 
    border-radius: 10px;
    opacity: 0.7;
    outline: solid;
    transition: opacity .2s;
    -webkit-appeareance: none;
    -webkit-transition: .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 10px;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: var(--black); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background:var(--black); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

/* GRID DIV SECTION */
.grid {
    border: solid 1px black;
    height: 720px;
    width: 720px;
}

/* FOOTER */
.footer {
    bottom: 0;
    margin: 2px;
    position: absolute;
}
