:root {
    --grey: #F5F5F5;
    --forestgreen: #273E2E;
    --byzanium: #683257;
    --black: #000;
}

/* GENERAL STYLING */
* {
    background-color: var(--grey);
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
/* TAG STYLING*/
h1 {
    color: var(--forestgreen);
    font-family: 'VT323', monospace;
    font-size: 75px;
}

h3 {
    margin-bottom: 30px;
}

button, input {
    cursor: pointer;
    width: 200px;
}

button.active {
    background-color: var(--forestgreen);
    color: #FFF;
}

/* TITLE DIV SECTION */
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: center;

}

/* SELECTIONS DIV SECTION */
.selections {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* color picker button */
#colorPicker {
    border: none;
    height: 75px;
    padding: 0;
    width: 75px;
}

/* selection button styling */
.selectionBtn {
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
}

.selectionBtn:hover {
    transform: scale(1.1);
}

.gridSizeDisplay {
    font-size: 20px;
    margin-bottom: -15px;
}


/* slider */
.sliderContainer {
    width: 50%;
}

.slider {
    appearance: none;
    background: var(--grey); 
    border-radius: 10px;
    opacity: 0.7;
    outline: solid;
    transition: opacity .2s;
    -webkit-appeareance: none;
    -webkit-transition: .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    background: var(--black);
  }

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background:var(--black);
    cursor: pointer;
  }

/* GRID DIV SECTION */
.grid {
    background-color: #FFFFFF;
    border: solid 1px black;
    display: grid;
    height: 500px;
    width: 500px;
}

/* FOOTER */
.footer {
    bottom: 0;
    margin: 2px;
    position: absolute;
}
